@import 'bulma/css/bulma.min.css';

:root {
    --button-link-background-color: #0080bb;
    --button-link-color: #fff;
 }


.button {
    background-color: var(--button-link-background-color);
    color: var(--button-link-color);
}

.button.is-info {
    border: 1px solid var(--button-link-background-color); 
    color: var(--button-link-background-color);

    &:hover {
        border: 2px solid var(--button-link-background-color); 
    }
}

.button.letter {
    background-color: #fff;
    color: #000;
    border: 1px solid lightgray;
}

.is-active.letter {
    background-color: var(--button-link-background-color);
    color: var(--button-link-color);
}

.navbar-logo {
    height: 50px;
    width: auto;
}

.form-logo{
    height: 100px;
    width: auto;
    margin: 0px auto 30px;
}

.login-logo {
    height: 100px;
    width: auto;
    margin: 0 auto;
}

details {
	position: relative;

	.summary-title {
		user-select: none;
	}

	&:hover {
		cursor: pointer;
	}

    &:hover .summary-chevron-down svg {
        opacity: 1;
    }

	.summary-content {
		cursor: default;
	}

	summary {
		list-style: none;

		&:focus {
			outline: none;
		}

		&:hover .summary-chevron-up svg {
			opacity: 1;
		}
	}

	.summary-chevron-up svg {
		opacity: 0.5;
	}

	.summary-chevron-up,
	.summary-chevron-down {
		pointer-events: none;
		position: absolute;
		top: 1.4em;
		right: 1em;
		background: #ffffff;

        &.group {
            top: 0.5em;
        }

		svg {
			display: block;
		}
	}

    .summary-chevron-down{
		pointer-events: none;
		position: absolute;
		top: 2em;
		right: 1.5em;
		background: #ffffff;

		svg {
			display: block;
            opacity: 0.5;
		}
	}

	summary::-webkit-details-marker {
		display: none;
	}
}

.customer-box:nth-child(even) {
    background-color:rgba(0, 128, 187, 0.075)
}

.customers-list {
    max-height: 200px;
    overflow-y: scroll;
    padding: 5px;}


.add-customer-to-group-modal {
    //display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.add-customer-to-group-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    width: 60%;
    position: relative;

    .delete {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}